minified/android-chrome-192x192.png
minified/android-chrome-512x512.png
minified/apple-touch-icon.png
minified/browserconfig.xml
minified/favicon-16x16.png
minified/favicon-32x32.png
minified/favicon.ico
minified/index.html
minified/mstile-150x150.png
minified/safari-pinned-tab.svg
minified/site.webmanifest
index.min.html
404.min.html
