<footer class="bg-dark text-light py-2 mt-5">
    <div class="container py-2">
        <div class="btn-group float-end">
            <a class="btn btn-primary" href="https://t.me/wschan"
                ><i class="fab fa-telegram-plane"></i
            ></a>
            <a class="btn btn-primary" href="https://vk.com/weryskok"
                ><i class="fab fa-vk"></i
            ></a>
            <a
                rel="me"
                class="btn btn-primary"
                href="https://mastodon.ml/@WerySkok"
                ><i class="fab fa-mastodon"></i
            ></a>
        </div>
        <p>WerySkok.ru, 2021–2024</p>
    </div>
</footer>
